PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (

    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" TEXT NOT NULL

);
INSERT INTO __EFMigrationsHistory VALUES('20250801091452_InitialCreate','8.0.0');
INSERT INTO __EFMigrationsHistory VALUES('20250804151200_AddCabinetType','8.0.0');
INSERT INTO __EFMigrationsHistory VALUES('20250804162558_RestoreBrevetTable','8.0.0');
CREATE TABLE IF NOT EXISTS "Cabinets" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Cabinets" PRIMARY KEY AUTOINCREMENT,

    "nom_cabinet" TEXT NOT NULL,

    "adresse_cabinet" TEXT NULL,

    "code_postal" TEXT NULL,

    "pays_cabinet" TEXT NULL,

    "email_cabinet" TEXT NULL,

    "telephone_cabinet" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

, "type" INTEGER NOT NULL DEFAULT 1);
INSERT INTO Cabinets VALUES(13,'Renouv''IP France','42 Rue de Rivoli','75001','France','contact@renouvip.fr','+33 1 42 97 45 32','2025-08-05 09:30:08.0259259','2025-08-05 09:30:08.0259264',1);
INSERT INTO Cabinets VALUES(14,'European Patent Renewals Ltd','10 Downing Street','SW1A 2AA','Royaume-Uni','renewals@epr.co.uk','+44 20 7219 3000','2025-08-05 09:30:08.0260301','2025-08-05 09:30:08.0260301',1);
INSERT INTO Cabinets VALUES(15,'LexIP Avocats','15 Boulevard Saint-Germain','75005','France','cabinet@lexip.fr','+33 1 44 32 18 76','2025-08-05 09:30:08.0260305','2025-08-05 09:30:08.0260305',2);
CREATE TABLE IF NOT EXISTS "Clients" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Clients" PRIMARY KEY AUTOINCREMENT,

    "nom_client" TEXT NOT NULL,

    "reference_client" TEXT NULL,

    "adresse_client" TEXT NULL,

    "code_postal" TEXT NULL,

    "pays_client" TEXT NULL,

    "email_client" TEXT NULL,

    "telephone_client" TEXT NULL,

    "can_write" INTEGER NOT NULL,

    "can_read" INTEGER NOT NULL,

    "is_blocked" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Clients VALUES(13,'client de test','testref',NULL,NULL,NULL,NULL,NULL,0,1,0,'2025-08-08 08:54:48.0640456','2025-08-18 12:41:20.6073051');
INSERT INTO Clients VALUES(14,'Aryballe',NULL,NULL,NULL,NULL,NULL,NULL,0,1,0,'2025-08-19 10:30:59.4157582','2025-08-19 10:30:59.4157785');
CREATE TABLE IF NOT EXISTS "Deposants" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Deposants" PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NULL,

    "prenom" TEXT NULL,

    "adresse" TEXT NULL,

    "telephone" TEXT NULL,

    "email" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Deposants VALUES(246,'GlobalTech Innovation',NULL,'123 Innovation Boulevard','+33 1 55 43 21 87','contact@globaltech-innovation.com','2025-08-05 09:30:08.6465327','2025-08-05 09:30:08.6465459');
INSERT INTO Deposants VALUES(247,'International Patent Services',NULL,'701 Legal Street, Floor 8, Paris','+33 1 66 54 97 70','filing@international.com','2025-08-05 09:30:08.6618889','2025-08-05 09:30:08.6618889');
INSERT INTO Deposants VALUES(248,'GlobalTech Innovation',NULL,'123 Innovation Boulevard','+33 1 55 43 21 87','contact@globaltech-innovation.com','2025-08-05 09:30:08.6721206','2025-08-05 09:30:08.6721207');
CREATE TABLE IF NOT EXISTS "Inventeurs" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Inventeurs" PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NULL,

    "prenom" TEXT NULL,

    "adresse" TEXT NULL,

    "telephone" TEXT NULL,

    "email" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Inventeurs VALUES(420,'Johnson','Charlie','510 Innovation Boulevard, Lab 49','+33 1 28 45 82 13','inventeur.38.1@globaltech-innovation.com','2025-08-05 09:30:08.6089322','2025-08-05 09:30:08.6089448');
INSERT INTO Inventeurs VALUES(421,'Jones','Kevin','244 Innovation Boulevard, Lab 20','+33 1 39 74 78 45','inventeur.38.2@globaltech-innovation.com','2025-08-05 09:30:08.6268933','2025-08-05 09:30:08.6268934');
INSERT INTO Inventeurs VALUES(422,'Brown','Diana','18 Innovation Boulevard, Lab 78','+33 1 44 37 85 33','inventeur.39.1@globaltech-innovation.com','2025-08-05 09:30:08.6674245','2025-08-05 09:30:08.6674245');
CREATE TABLE IF NOT EXISTS "Logs" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Logs" PRIMARY KEY AUTOINCREMENT,

    "level" TEXT NOT NULL,

    "message" TEXT NOT NULL,

    "timestamp" TEXT NOT NULL,

    "userId" TEXT NULL,

    "action" TEXT NULL,

    "table_name" TEXT NULL,

    "record_id" INTEGER NULL,

    "old_values" TEXT NULL,

    "new_values" TEXT NULL,

    "ip_address" TEXT NULL,

    "user_agent" TEXT NULL,

    "created_at" TEXT NOT NULL,

    "details" TEXT NULL

);
INSERT INTO Logs VALUES(642,'info','','2025-08-05 09:30:52.2101442',NULL,'OPTIONS /api/auth/login',NULL,NULL,NULL,NULL,'::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36','2025-08-05 09:30:52.1726562','Dur├®e: 36ms, Status: 204');
INSERT INTO Logs VALUES(643,'info','','2025-08-05 09:30:53.0742715',NULL,'POST /api/auth/login',NULL,NULL,NULL,NULL,'::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36','2025-08-05 09:30:52.4022431','Dur├®e: 671ms, Status: 200');
INSERT INTO Logs VALUES(644,'info','','2025-08-05 09:30:59.3660518',NULL,'OPTIONS /api/auth/me',NULL,NULL,NULL,NULL,'::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36','2025-08-05 09:30:59.3653264','Dur├®e: 0ms, Status: 204');
CREATE TABLE IF NOT EXISTS "Pays" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Pays" PRIMARY KEY AUTOINCREMENT,

    "nom_fr_fr" TEXT NOT NULL,

    "code_iso" TEXT NULL,

    "code_iso3" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Pays VALUES(1,'Afghanistan','AF','AFG','2025-08-01 09:24:20','2025-08-01 09:24:20');
INSERT INTO Pays VALUES(2,'Albanie','AL','ALB','2025-08-01 09:24:20','2025-08-01 09:24:20');
INSERT INTO Pays VALUES(3,'Antarctique','AQ','ATA','2025-08-01 09:24:20','2025-08-01 09:24:20');
CREATE TABLE IF NOT EXISTS "Roles" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Roles" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "Description" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    "UpdatedAt" TEXT NOT NULL

);
INSERT INTO Roles VALUES(1,'admin','Employ├® StartingBloch - Administrateur avec acc├¿s complet et gestion des utilisateurs','2025-08-19 14:54:02.6341806','2025-08-19 14:54:02.6341808');
INSERT INTO Roles VALUES(2,'user','Employ├® StartingBloch - Utilisateur standard avec droits configurables','2025-08-19 14:54:02.6341811','2025-08-19 14:54:02.6341811');
INSERT INTO Roles VALUES(3,'client','Client StartingBloch - Acc├¿s restreint ├á ses propres brevets uniquement','2025-08-19 14:54:02.6341812','2025-08-19 14:54:02.6341813');
CREATE TABLE IF NOT EXISTS "Statuts" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Statuts" PRIMARY KEY AUTOINCREMENT,

    "description" TEXT NOT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Statuts VALUES(1,'En pr├®paration','2025-08-01 09:24:29','2025-08-01 09:24:29');
INSERT INTO Statuts VALUES(2,'D├®pos├®','2025-08-01 09:24:29','2025-08-01 09:24:29');
INSERT INTO Statuts VALUES(3,'En cours d''examen','2025-08-01 09:24:29','2025-08-01 09:24:29');
CREATE TABLE IF NOT EXISTS "Titulaires" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Titulaires" PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NULL,

    "prenom" TEXT NULL,

    "adresse" TEXT NULL,

    "telephone" TEXT NULL,

    "email" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Titulaires VALUES(240,'GlobalTech Innovation',NULL,'123 Innovation Boulevard','+33 1 55 43 21 87','contact@globaltech-innovation.com','2025-08-05 09:30:08.6289766','2025-08-05 09:30:08.6289881');
INSERT INTO Titulaires VALUES(241,'Global Patents Corporation',NULL,'415 Business Avenue, Suite 177, Paris','+33 1 67 89 37 16','legal@global.com','2025-08-05 09:30:08.6447814','2025-08-05 09:30:08.6447816');
INSERT INTO Titulaires VALUES(242,'GlobalTech Innovation',NULL,'123 Innovation Boulevard','+33 1 55 43 21 87','contact@globaltech-innovation.com','2025-08-05 09:30:08.6698034','2025-08-05 09:30:08.6698035');
CREATE TABLE IF NOT EXISTS "BrevetCabinets" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_BrevetCabinets" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_cabinet" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_BrevetCabinets_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_BrevetCabinets_Cabinets_id_cabinet" FOREIGN KEY ("id_cabinet") REFERENCES "Cabinets" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "BrevetClients" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_BrevetClients" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_client" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_BrevetClients_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_BrevetClients_Clients_id_client" FOREIGN KEY ("id_client") REFERENCES "Clients" ("id") ON DELETE CASCADE

);
INSERT INTO BrevetClients VALUES(177,56,13,'2025-08-19 15:03:58.8962697');
INSERT INTO BrevetClients VALUES(178,57,13,'2025-08-19 15:04:42.0549241');
CREATE TABLE IF NOT EXISTS "ClientCabinets" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ClientCabinets" PRIMARY KEY AUTOINCREMENT,

    "ClientId" INTEGER NOT NULL,

    "CabinetId" INTEGER NOT NULL,

    "Type" TEXT NULL,

    "IsActive" INTEGER NOT NULL,

    "CreatedAt" TEXT NOT NULL,

    "UpdatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_ClientCabinets_Cabinets_CabinetId" FOREIGN KEY ("CabinetId") REFERENCES "Cabinets" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_ClientCabinets_Clients_ClientId" FOREIGN KEY ("ClientId") REFERENCES "Clients" ("id") ON DELETE CASCADE

);
INSERT INTO ClientCabinets VALUES(10,13,18,NULL,1,'2025-08-19 09:50:47.0140126','2025-08-19 09:50:47.0140126');
CREATE TABLE IF NOT EXISTS "Contacts" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Contacts" PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NULL,

    "prenom" TEXT NULL,

    "email" TEXT NULL,

    "telephone" TEXT NULL,

    "role" TEXT NULL,

    "id_cabinet" INTEGER NULL,

    "id_client" INTEGER NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL,

    "emails_json" TEXT NOT NULL,

    "phones_json" TEXT NOT NULL,

    "roles_json" TEXT NOT NULL,

    CONSTRAINT "FK_Contacts_Cabinets_id_cabinet" FOREIGN KEY ("id_cabinet") REFERENCES "Cabinets" ("id") ON DELETE SET NULL,

    CONSTRAINT "FK_Contacts_Clients_id_client" FOREIGN KEY ("id_client") REFERENCES "Clients" ("id") ON DELETE SET NULL

);
INSERT INTO Contacts VALUES(89,'Laurent','Sophie','sophie.laurent@globaltech-innovation.com','+33 1 55 43 21 88','Directrice Juridique',NULL,NULL,'2025-08-05 09:30:08.4638457','2025-08-05 09:30:08.4638645','["sophie.laurent@globaltech-innovation.com"]','["\u002B33 1 55 43 21 88"]','["Directrice Juridique"]');
INSERT INTO Contacts VALUES(90,'Moreau','Alexandre','alexandre.moreau@globaltech-innovation.com','+33 1 55 43 21 89','Responsable PI',NULL,NULL,'2025-08-05 09:30:08.4638891','2025-08-05 09:30:08.4638891','["alexandre.moreau@globaltech-innovation.com"]','["\u002B33 1 55 43 21 89"]','["Responsable PI"]');
INSERT INTO Contacts VALUES(91,'Dupont','├ëmilie','emilie.dupont@globaltech-innovation.com','+33 1 55 43 21 90','CTO',NULL,NULL,'2025-08-05 09:30:08.4638932','2025-08-05 09:30:08.4638932','["emilie.dupont@globaltech-innovation.com"]','["\u002B33 1 55 43 21 90"]','["CTO"]');
CREATE TABLE IF NOT EXISTS "Users" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_Users" PRIMARY KEY AUTOINCREMENT,

    "username" TEXT NOT NULL,

    "email" TEXT NOT NULL,

    "password" TEXT NOT NULL,

    "role" TEXT NOT NULL DEFAULT 'user',

    "canWrite" INTEGER NOT NULL DEFAULT 0,

    "canRead" INTEGER NOT NULL,

    "isActive" INTEGER NOT NULL DEFAULT 1,

    "isBlocked" INTEGER NOT NULL,

    "nom" TEXT NULL,

    "prenom" TEXT NULL,

    "lastLogin" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL,

    "clientId" INTEGER NULL,

    CONSTRAINT "FK_Users_Clients_clientId" FOREIGN KEY ("clientId") REFERENCES "Clients" ("id") ON DELETE SET NULL

);
INSERT INTO Users VALUES(5,'admin','admin@startingbloch.com','$2a$10$TeRlf8LNCuodDVHswiDoOOoJgADXvjUvIBF2zPaN4NPm9HvdEGkYG','Admin',1,1,1,0,'Admin','System','2025-08-19 12:51:48.4281072','2025-08-01 13:38:00','2025-08-01 13:38:00',NULL);
INSERT INTO Users VALUES(11,'clementmozin@gmail.com','clementmozin@gmail.com','$2a$11$w8yQmHXcyEtKSn7h0534JuWXuttLsD/9g6zAEbVdoDZUgX0n7M0ti','client',1,1,1,0,NULL,NULL,'2025-08-19 09:50:28.3463254','2025-08-08 08:54:48.0750132','2025-08-08 08:54:48.0750134',13);
INSERT INTO Users VALUES(12,'manager@startingbloch.com	','manager@startingbloch.com','$2a$11$V4vW.4sO/ey32ak0NQ1apuZnH/QUVl6NgKbRHd5DUfcvRL3TwFify','user',1,1,1,0,NULL,NULL,'2025-08-19 15:03:07.207852','2025-08-19 10:32:34.8774953','2025-08-19 10:32:34.8774953',NULL);
CREATE TABLE IF NOT EXISTS "BrevetDeposants" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_BrevetDeposants" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_deposant" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_BrevetDeposants_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_BrevetDeposants_Deposants_id_deposant" FOREIGN KEY ("id_deposant") REFERENCES "Deposants" ("id") ON DELETE CASCADE

);
INSERT INTO BrevetDeposants VALUES(266,56,267,'2025-08-19 15:03:58.9082761');
INSERT INTO BrevetDeposants VALUES(267,57,267,'2025-08-19 15:04:42.0550404');
CREATE TABLE IF NOT EXISTS "BrevetInventeurs" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_BrevetInventeurs" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_inventeur" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_BrevetInventeurs_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_BrevetInventeurs_Inventeurs_id_inventeur" FOREIGN KEY ("id_inventeur") REFERENCES "Inventeurs" ("id") ON DELETE CASCADE

);
INSERT INTO BrevetInventeurs VALUES(448,56,441,'2025-08-19 15:03:58.9029041');
INSERT INTO BrevetInventeurs VALUES(449,57,441,'2025-08-19 15:04:42.0549992');
CREATE TABLE IF NOT EXISTS "NumeroPays" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_NumeroPays" PRIMARY KEY AUTOINCREMENT,

    "pays_code" TEXT NOT NULL,

    "numero" TEXT NOT NULL,

    "description" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    "created_at" TEXT NOT NULL,

    "updated_at" TEXT NOT NULL,

    "PaysId" INTEGER NULL,

    CONSTRAINT "FK_NumeroPays_Pays_PaysId" FOREIGN KEY ("PaysId") REFERENCES "Pays" ("id")

);
INSERT INTO NumeroPays VALUES(9,'FR','+33','France',1,'2025-08-01 09:53:03','2025-08-01 09:53:03',73);
INSERT INTO NumeroPays VALUES(10,'DE','+49','Allemagne',1,'2025-08-01 09:53:03','2025-08-01 09:53:03',2);
INSERT INTO NumeroPays VALUES(11,'GB','+44','Royaume-Uni',1,'2025-08-01 09:53:03','2025-08-01 09:53:03',3);
CREATE TABLE IF NOT EXISTS "InformationsDepot" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_InformationsDepot" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_pays" INTEGER NULL,

    "id_statuts" INTEGER NULL,

    "numero_depot" TEXT NULL,

    "numero_publication" TEXT NULL,

    "numero_delivrance" TEXT NULL,

    "date_depot" TEXT NULL,

    "date_publication" TEXT NULL,

    "date_delivrance" TEXT NULL,

    "licence" INTEGER NOT NULL DEFAULT 0,

    "commentaire" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_InformationsDepot_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_InformationsDepot_Pays_id_pays" FOREIGN KEY ("id_pays") REFERENCES "Pays" ("id"),

    CONSTRAINT "FK_InformationsDepot_Statuts_id_statuts" FOREIGN KEY ("id_statuts") REFERENCES "Statuts" ("id")

);
INSERT INTO InformationsDepot VALUES(433,56,1,1,'test','test','test','2025-08-19 15:03:28.3','2025-08-19 15:03:29.9','2025-08-19 15:03:32',0,'','2025-08-19 15:03:58.9196028','2025-08-19 15:03:58.919603');
INSERT INTO InformationsDepot VALUES(434,57,2,3,'test2','test2','test2','2025-08-19 15:04:27','2025-08-19 15:04:25.8','2025-08-19 15:04:24.2',0,'','2025-08-19 15:04:42.0551108','2025-08-19 15:04:42.0551108');
CREATE TABLE IF NOT EXISTS "BrevetTitulaires" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_BrevetTitulaires" PRIMARY KEY AUTOINCREMENT,

    "id_brevet" INTEGER NOT NULL,

    "id_titulaire" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_BrevetTitulaires_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE CASCADE,

    CONSTRAINT "FK_BrevetTitulaires_Titulaires_id_titulaire" FOREIGN KEY ("id_titulaire") REFERENCES "Titulaires" ("id") ON DELETE CASCADE

);
INSERT INTO BrevetTitulaires VALUES(266,56,261,'2025-08-19 15:03:58.9139621');
INSERT INTO BrevetTitulaires VALUES(267,57,261,'2025-08-19 15:04:42.0550755');
CREATE TABLE IF NOT EXISTS "UserRoles" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_UserRoles" PRIMARY KEY AUTOINCREMENT,

    "UserId" INTEGER NOT NULL,

    "RoleId" INTEGER NOT NULL,

    "ClientId" INTEGER NULL,

    "CreatedAt" TEXT NOT NULL,

    "UpdatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_UserRoles_Clients_ClientId" FOREIGN KEY ("ClientId") REFERENCES "Clients" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_UserRoles_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "Roles" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_UserRoles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("id") ON DELETE CASCADE

);
INSERT INTO UserRoles VALUES(1,11,3,13,'2025-08-08 08:54:48.2964884','2025-08-08 08:54:48.2964885');
INSERT INTO UserRoles VALUES(2,12,2,NULL,'2025-08-19 10:32:34.9964968','2025-08-19 10:32:34.996497');
INSERT INTO UserRoles VALUES(3,13,3,14,'2025-08-19 12:49:49.673906','2025-08-19 12:49:49.6739064');
CREATE TABLE IF NOT EXISTS "Brevets" (

    "id_brevet" INTEGER NOT NULL CONSTRAINT "PK_Brevets" PRIMARY KEY AUTOINCREMENT,

    "reference_famille" TEXT NULL,

    "titre" TEXT NULL,

    "commentaire" TEXT NULL,

    "createdAt" TEXT NOT NULL,

    "updatedAt" TEXT NOT NULL

);
INSERT INTO Brevets VALUES(56,'test','test','test','2025-08-19 15:03:58.8653459','2025-08-19 15:03:58.865346');
INSERT INTO Brevets VALUES(57,'test2','test2',NULL,'2025-08-19 15:04:42.0538487','2025-08-19 15:04:42.0538488');
CREATE TABLE IF NOT EXISTS "InformationDepotCabinets" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_InformationDepotCabinets" PRIMARY KEY AUTOINCREMENT,

    "information_depot_id" INTEGER NOT NULL,

    "cabinet_id" INTEGER NOT NULL,

    "category" INTEGER NOT NULL,

    "createdAt" TEXT NOT NULL,

    CONSTRAINT "FK_InformationDepotCabinets_Cabinets_cabinet_id" FOREIGN KEY ("cabinet_id") REFERENCES "Cabinets" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_InformationDepotCabinets_InformationsDepot_information_depot_id" FOREIGN KEY ("information_depot_id") REFERENCES "InformationsDepot" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "InformationDepotCabinetContacts" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_InformationDepotCabinetContacts" PRIMARY KEY AUTOINCREMENT,

    "information_depot_cabinet_id" INTEGER NOT NULL,

    "contact_id" INTEGER NOT NULL,

    CONSTRAINT "FK_InformationDepotCabinetContacts_Contacts_contact_id" FOREIGN KEY ("contact_id") REFERENCES "Contacts" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_InformationDepotCabinetContacts_InformationDepotCabinets_information_depot_cabinet_id" FOREIGN KEY ("information_depot_cabinet_id") REFERENCES "InformationDepotCabinets" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "InformationDepotCabinetRoles" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_InformationDepotCabinetRoles" PRIMARY KEY AUTOINCREMENT,

    "information_depot_cabinet_id" INTEGER NOT NULL,

    "role" TEXT NOT NULL,

    CONSTRAINT "FK_InformationDepotCabinetRoles_InformationDepotCabinets_information_depot_cabinet_id" FOREIGN KEY ("information_depot_cabinet_id") REFERENCES "InformationDepotCabinets" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "DeposantPays" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_DeposantPays" PRIMARY KEY AUTOINCREMENT,

    "createdAt" TEXT NOT NULL,

    "id_brevet" INTEGER NULL,

    "id_deposant" INTEGER NOT NULL,

    "id_pays" INTEGER NOT NULL,

    CONSTRAINT "FK_DeposantPays_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE SET NULL,

    CONSTRAINT "FK_DeposantPays_Deposants_id_deposant" FOREIGN KEY ("id_deposant") REFERENCES "Deposants" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_DeposantPays_Pays_id_pays" FOREIGN KEY ("id_pays") REFERENCES "Pays" ("id") ON DELETE CASCADE

);
INSERT INTO DeposantPays VALUES(55,'2025-08-19 15:03:58.9894532',56,267,1);
INSERT INTO DeposantPays VALUES(56,'2025-08-19 15:04:42.0591175',57,267,2);
CREATE TABLE IF NOT EXISTS "InventeurPays" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_InventeurPays" PRIMARY KEY AUTOINCREMENT,

    "createdAt" TEXT NOT NULL,

    "id_brevet" INTEGER NULL,

    "id_inventeur" INTEGER NOT NULL,

    "id_pays" INTEGER NOT NULL,

    CONSTRAINT "FK_InventeurPays_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE SET NULL,

    CONSTRAINT "FK_InventeurPays_Inventeurs_id_inventeur" FOREIGN KEY ("id_inventeur") REFERENCES "Inventeurs" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_InventeurPays_Pays_id_pays" FOREIGN KEY ("id_pays") REFERENCES "Pays" ("id") ON DELETE CASCADE

);
INSERT INTO InventeurPays VALUES(45,'2025-08-19 15:03:58.9777276',56,441,1);
INSERT INTO InventeurPays VALUES(46,'2025-08-19 15:04:42.0587627',57,441,2);
CREATE TABLE IF NOT EXISTS "TitulairePays" (

    "id" INTEGER NOT NULL CONSTRAINT "PK_TitulairePays" PRIMARY KEY AUTOINCREMENT,

    "createdAt" TEXT NOT NULL,

    "id_brevet" INTEGER NULL,

    "id_pays" INTEGER NOT NULL,

    "id_titulaire" INTEGER NOT NULL,

    CONSTRAINT "FK_TitulairePays_Brevets_id_brevet" FOREIGN KEY ("id_brevet") REFERENCES "Brevets" ("id_brevet") ON DELETE SET NULL,

    CONSTRAINT "FK_TitulairePays_Pays_id_pays" FOREIGN KEY ("id_pays") REFERENCES "Pays" ("id") ON DELETE CASCADE,

    CONSTRAINT "FK_TitulairePays_Titulaires_id_titulaire" FOREIGN KEY ("id_titulaire") REFERENCES "Titulaires" ("id") ON DELETE CASCADE

);
INSERT INTO TitulairePays VALUES(33,'2025-08-19 15:03:59.0010252',56,1,261);
INSERT INTO TitulairePays VALUES(34,'2025-08-19 15:04:42.0594584',57,2,261);
INSERT INTO sqlite_sequence VALUES('Roles',3);
INSERT INTO sqlite_sequence VALUES('Statuts',10);
INSERT INTO sqlite_sequence VALUES('Pays',241);
CREATE INDEX "IX_BrevetCabinets_id_brevet" ON "BrevetCabinets" ("id_brevet");
CREATE INDEX "IX_BrevetCabinets_id_cabinet" ON "BrevetCabinets" ("id_cabinet");
CREATE INDEX "IX_BrevetClients_id_client" ON "BrevetClients" ("id_client");
CREATE UNIQUE INDEX "IX_BrevetClients_Unique" ON "BrevetClients" ("id_brevet", "id_client");
CREATE INDEX "IX_BrevetDeposants_id_deposant" ON "BrevetDeposants" ("id_deposant");
CREATE UNIQUE INDEX "IX_BrevetDeposants_Unique" ON "BrevetDeposants" ("id_brevet", "id_deposant");
CREATE INDEX "IX_BrevetInventeurs_id_inventeur" ON "BrevetInventeurs" ("id_inventeur");
CREATE UNIQUE INDEX "IX_BrevetInventeurs_Unique" ON "BrevetInventeurs" ("id_brevet", "id_inventeur");
CREATE INDEX "IX_BrevetTitulaires_id_titulaire" ON "BrevetTitulaires" ("id_titulaire");
CREATE UNIQUE INDEX "IX_BrevetTitulaires_Unique" ON "BrevetTitulaires" ("id_brevet", "id_titulaire");
CREATE INDEX "IX_ClientCabinets_CabinetId" ON "ClientCabinets" ("CabinetId");
CREATE UNIQUE INDEX "IX_ClientCabinets_Unique" ON "ClientCabinets" ("ClientId", "CabinetId");
CREATE INDEX "IX_Clients_NomClient" ON "Clients" ("nom_client");
CREATE INDEX "IX_Contacts_id_cabinet" ON "Contacts" ("id_cabinet");
CREATE INDEX "IX_Contacts_id_client" ON "Contacts" ("id_client");
CREATE INDEX "IX_InformationsDepot_id_brevet" ON "InformationsDepot" ("id_brevet");
CREATE INDEX "IX_InformationsDepot_id_pays" ON "InformationsDepot" ("id_pays");
CREATE INDEX "IX_InformationsDepot_id_statuts" ON "InformationsDepot" ("id_statuts");
CREATE INDEX "IX_NumeroPays_PaysId" ON "NumeroPays" ("PaysId");
CREATE UNIQUE INDEX "IX_Roles_Name" ON "Roles" ("Name");
CREATE INDEX "IX_UserRoles_ClientId" ON "UserRoles" ("ClientId");
CREATE INDEX "IX_UserRoles_RoleId" ON "UserRoles" ("RoleId");
CREATE UNIQUE INDEX "IX_UserRoles_Unique" ON "UserRoles" ("UserId", "RoleId", "ClientId");
CREATE INDEX "IX_Users_ClientId" ON "Users" ("clientId");
CREATE UNIQUE INDEX "IX_Users_Email" ON "Users" ("email");
CREATE UNIQUE INDEX "IX_Users_Username" ON "Users" ("username");
CREATE INDEX "IX_Brevets_ReferenceFamille" ON "Brevets" ("reference_famille");
CREATE UNIQUE INDEX "IX_InfoDepotCabContact_Unique" ON "InformationDepotCabinetContacts" ("information_depot_cabinet_id", "contact_id");
CREATE INDEX "IX_InformationDepotCabinetContacts_contact_id" ON "InformationDepotCabinetContacts" ("contact_id");
CREATE UNIQUE INDEX "IX_InfoDepotCabRole_Unique" ON "InformationDepotCabinetRoles" ("information_depot_cabinet_id", "role");
CREATE UNIQUE INDEX "IX_InfoDepotCab_Unique" ON "InformationDepotCabinets" ("information_depot_id", "cabinet_id", "category");
CREATE INDEX "IX_InformationDepotCabinets_cabinet_id" ON "InformationDepotCabinets" ("cabinet_id");
CREATE INDEX "IX_DeposantPays_id_brevet" ON "DeposantPays" ("id_brevet");
CREATE INDEX "IX_DeposantPays_id_deposant" ON "DeposantPays" ("id_deposant");
CREATE INDEX "IX_DeposantPays_id_pays" ON "DeposantPays" ("id_pays");
CREATE INDEX "IX_InventeurPays_id_brevet" ON "InventeurPays" ("id_brevet");
CREATE INDEX "IX_InventeurPays_id_inventeur" ON "InventeurPays" ("id_inventeur");
CREATE INDEX "IX_InventeurPays_id_pays" ON "InventeurPays" ("id_pays");
CREATE INDEX "IX_TitulairePays_id_brevet" ON "TitulairePays" ("id_brevet");
CREATE INDEX "IX_TitulairePays_id_pays" ON "TitulairePays" ("id_pays");
CREATE INDEX "IX_TitulairePays_id_titulaire" ON "TitulairePays" ("id_titulaire");
COMMIT;
