/* ClientPortfolio.css */
.client-portfolio {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 250px; /* Ajustez cette valeur en fonction de la largeur de la barre latérale */
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .main-content.shifted {
    margin-left: 0;
  }
  
  .button-toggle {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .client-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Trois cartes par ligne */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .client-item h2 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
  }
  
  .client-item p {
    margin: 10px 0;
    color: #666;
  }
  
  .button-blue {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto; /* Pour que le bouton soit en bas de la carte */
  }
  