/* ContactForm.css */

/* Container principal du formulaire */
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style des étiquettes */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style des champs de texte */
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Style du bouton Ajouter un titulaire */
  #add-titulaire {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #add-titulaire:hover {
    background-color: #0056b3;
  }
  
  /* Style du bouton Supprimer */
  .remove-titulaire {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .remove-titulaire:hover {
    background-color: #c82333;
  }
  
  /* Style du bouton Soumettre */
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
  